<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img{
            height: 100px;
            width: 100px;
            
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Images from Backend</h1>
            <%x.forEach((image)=>{%>
                <div class="col-lg-4">
                    <img src="./images/<%=image.picture%>" alt="">
                </div>
            
            <%})%>
                
            
            
        </div>
    </div>
</body>
</html>